In [47]:
import numpy as np
import pandas as pd

data_list = np.array([    
    ['Plastik', 5, True],
    ['Kertas', 4, True],
    ['Logam', 3, True],
    ['Kaca', 2, False]
])

df_list = pd.DataFrame(data_list, columns=['Jenis', 'Berat (Kg)', 'Daur Ulang'])
df_list

     Jenis Berat (Kg) Daur Ulang
0  Plastik          5       True
1   Kertas          4       True
2    Logam          3       True
3     Kaca          2      False

In [48]:
import pandas as pd

data_kamus = {
    'jenis' : ['Plastik','Kertas','Logam','Kaca'],
    'Berat(kg)' : [5, 2, 3, 4],
    'Daur Ulang' : [True, True, True, False]
}

df_kamus = pd.DataFrame(data_kamus)
df_kamus

     jenis  Berat(kg)  Daur Ulang
0  Plastik          5        True
1   Kertas          2        True
2    Logam          3        True
3     Kaca          4       False

In [49]:
#memanggil per-kolom
filter_kolom = df_list['Jenis']
filter_kolom

0    Plastik
1     Kertas
2      Logam
3       Kaca
Name: Jenis, dtype: object

In [50]:
#mengakses dalam baris ke 
a = df_list.loc[3]
b =  df_list.iloc[3]

c = df_list.loc[3,'Daur Ulang']
d = df_list.iloc[3,2]

print(a)

print(b)

print(c)

print(d)

Jenis          Kaca
Berat (Kg)        2
Daur Ulang    False
Name: 3, dtype: object
Jenis          Kaca
Berat (Kg)        2
Daur Ulang    False
Name: 3, dtype: object
False
False

In [52]:
#menggunakan iterrows untuk mengiterasikan setiap baris
for i ,row in df_list.iterrows():
    if row['Daur Ulang'] == True:
        print(f"data ke {i +1} adalah {row['Jenis']}")