In [23]:
a = "Aku"
b = " Knock"
hasil = a + b
print("Kamu Kenapa:", hasil)

Kamu Kenapa: Aku Knock

In [ ]:
Nama = input("Masukan Nama:")
Kelas = input("Masukan Kelas:")
Matkul = input("Masukan MAtkul:")
Usia = int(input("Masukan Usia:"))
BB = float(input("Masukan Berat Badan:"))
print("Nama: ",Nama,)
print("Kelas: ",Kelas,)
print("Matkul: ",Matkul)
print("Usia: ", Usia )
print("BeratBadan: ",BB)

In [ ]:
import numpy as np
import pandas as pd

data_list = np.array([    
    ['Plastik', 5, True],
    ['Kertas', 4, True],
    ['Logam', 3, True],
    ['Kaca', 2, False]
])

df_list = pd.DataFrame(data_list, columns=['Jenis', 'Berat (Kg)', 'Daur Ulang'])
df_list

     Jenis Berat (Kg) Daur Ulang
0  Plastik          5       True
1   Kertas          4       True
2    Logam          3       True
3     Kaca          2      False

Requirement already satisfied: numpy in c:\users\yudha02\appdata\local\programs\python\python312\lib\site-packages (2.1.2)

[notice] A new release of pip is available: 24.2 -> 24.3.1
[notice] To update, run: python.exe -m pip install --upgrade pip

In [ ]:
Angka = int(input("Masukan Angka"))
print(Angka)
type(Angka)

In [ ]:
nama = "Yudha Robertstein"
nilai = 99

print(f"Pemenang: {nama}, Skor: {nilai}")

In [ ]:
nama = "Yudha Robertstein"
nilai = 99

print("Pemenang:",nama," Skor:",nilai)

In [ ]:
nama = "Yudha Robertstein"
nilai = 99

print("Pemenang: {}, Usia: {}". format(nama, nilai))